<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="eddie"
          class="com.inspur.learning.springinaction.springidol_aop.Instrumentalist">
        <property name="instrument">
            <bean class="com.inspur.learning.springinaction.springidol_aop.Guitar"/>
        </property>
    </bean>

    <bean id="audience"
          class="com.inspur.learning.springinaction.springidol_aop.Audience">
    </bean>

    <aop:config>
        <!--</aop:aspect>-->
        <aop:aspect ref="audience">
            <aop:pointcut id="performance" expression=
                    "execution(* com.inspur.learning.springinaction.springidol_aop.Performer.perform(..))"/>
            <!--<co id="co_defPointcut"/>-->

            <aop:before
                    pointcut-ref="performance"
                    method="takeSeats"/> <!--<co id="co_refPointcut"/>-->
            <aop:before
                    pointcut-ref="performance"
                    method="turnOffCellPhones"/> <!--<co id="co_refPointcut"/>-->
            <aop:after-returning
                    pointcut-ref="performance"
                    method="applaud"/> <!--<co id="co_refPointcut"/>-->
            <aop:after-throwing
                    pointcut-ref="performance"
                    method="demandRefund"/> <!--<co id="co_refPointcut"/>-->
        </aop:aspect>

    </aop:config>
    <!--<end id="audience_aspect" />-->

</beans>
