<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="contestantDelegate"
          class="com.inspur.learning.springinaction.springidol_aop.GraciousContestant"/>

    <bean id="eddie"
          class="com.inspur.learning.springinaction.springidol_aop.Instrumentalist">
        <property name="instrument">
            <bean class="com.inspur.learning.springinaction.springidol_aop.Guitar"/>
        </property>
    </bean>

    <aop:config>
        <aop:aspect>
            <aop:declare-parents
                    types-matching="com.inspur.learning.springinaction.springidol_aop.Performer+"
                    implement-interface="com.inspur.learning.springinaction.springidol_aop.Contestant"
                    delegate-ref="contestantDelegate"/>
        </aop:aspect>
    </aop:config>
</beans>